<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>IMDB control system</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <h1>IMDB control system</h1>
  <a th:href = "@{/}" class="btn btn-sm mb-3 btn-info"> Главная страница </a>
  <a th:href = "@{/equipments}" class="btn btn-sm mb-3 btn-info"> Список оборудования </a>


  <hr>
  <h2>Изменить оборудование</h2>


  <form action="#" th:action="@{/equipments/saveEquipment}" th:object="${equipment}"
        method="POST">
    <input type="hidden" th:field="*{id}" />
    <input required type="text" th:field="*{serialNumber}"
           placeholder="Серийный номер" class="form-control mb-4 col-4">
    <input required type="text" th:field="*{brand}"
           placeholder="Бренд" class="form-control mb-4 col-4">
    <input required type="text" th:field="*{model}"
           placeholder="Модель" class="form-control mb-4 col-4">
    <input required type="text" th:field="*{type}"
           placeholder="Тип" class="form-control mb-4 col-4">

    <select th:field="*{status}" id="status">
      <option th:each="status : ${listStatuses}"
              th:value="${status.id}"
              th:name="${status}"
              th:text="${status.name}"
              th:selected="${status.id} == ${equipment.status.id}">
      </option>
    </select>


    <input required type="date" th:field="*{purchaseDate}"
           placeholder="Дата закупки" class="form-control mb-4 col-4">
    <input required type="text" th:field="*{purchaseCost}"
           placeholder="Стоимость закупки" class="form-control mb-4 col-4">
    <input required type="text" th:field="*{amortizationPeriod}"
           placeholder="Период амортизации" class="form-control mb-4 col-4">

    <button type="submit" class="btn btn-info col-2">Сохранить</button>
  </form>

  <hr>
</div>
</body>
</html>